<footer class="Footer">
  
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>

  
  <div class="Footer-inner">
    
    <div class="Footer-source">
      <a href="https://github.com/Bitcoin-Zambia/bitdevs-zambia.github.io/" target="_blank">GitHub</a>
    </div>
    
    <div class="Footer-playbook">
      <a href="/playbook" target="_blank">Playbook</a>
    </div>

    <div class="Footer-partners">
      <a href="/partners">Partners</a>
    </div>
    
    <div class="Footer-contact">
      <a href="mailto:ndesax@proton.me" target="_blank">Contact</a>
    </div>

    <div class="Footer-BZ">
      <a href="https://BitcoinZambia.org" target="_blank">BitcoinZambia.org</a>
    </div>
    
    <div class="Footer-rss">
      <a href="/feed.xml" target="_blank">RSS</a>
    </div>
    
  </div>
  
</footer>
